{% extends 'common/parent.html' %}
{% load static %}
{% block title %}
    <link href="{% static 'css/check.css'%}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">个人资料</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <ul class="safty1">
            <li>
            <i style="margin-top: 25px;">头像</i>
            <div class="infor-pic">
                <img src="{{ MEDIA_URL }}{{ user.head_show }}"/>
            </div>

            </li>
            <li>
            <input type="file" name="head">
            </li>
            <li>
                <i>昵称</i>
                <input name="username" class="infor-tele" value={{ user.username}}>
            </li>
            <p>{{ errors.username.0}}</p>
            <li>
                <i>性别</i>
                <i class="infor-tele">
                    <label class="am-radio-inline">
                        <input type="radio" name="sex" checked="checked" value="1" data-am-ucheck>男
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" name="sex" value="2" data-am-ucheck>女
                    </label>
                </i>

            </li>
            <li>

                <i>生日</i>
                <input class="infor-tele" name='brirthday' value={{ user.birthday|default:'' }}>
                <p>{{ errors.password.0}}</p>
            </li>
        </ul>
        <div style="height: 10px; background: #efefef;"></div>
        <ul class="safty1">
            <li>
                <i>学校</i>
                <input class="infor-tele" name='school' value={{ user.school }}>

            </li>
            <p>{{ errors.school.0}}</p>
            <li>
                <i>位置</i>
                <input class="infor-tele" name='location' value={{ user.location }}>
            </li>
            <p>{{ errors.loaction.0}}</p>

            <li>
                <i>故乡</i>
                <input class="infor-tele" name='home' value={{ user.home }}>
            </li>
            <p>{{ errors.home.0}}</p>

            <li>
                <i>电话</i>
                <input class="infor-tele" name='mobile' disabled value={{ user.mobile }}>
            </li>
            <p>{{ errors.mobile.0}}</p>
            <li>
                <a href="#"><input type="submit" class="login-btn" value="提交"></a>.
            </li>
        </ul>
    </form>
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/amazeui.min.js'%}"></script>
{% endblock %}
